.main {
  display: flex;
}

.main-left {
  width: 30%;
  height: calc(100vh - 100px);
  border-right: 1px solid #698aab;
  background-color: #ebf6f7;
  position: relative;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.main-left-title {
  position: absolute;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  font-size: 24px;
  width: 100%;
}

.room-menu {
  position: absolute;
  list-style: none;
  top: 60px;
  padding-left: 0;
  text-align: center;
  display: block;
}

.menus {
  font-size: 20px;
  border: 4px outset #698aab;
  // border-radius: 5px;
  box-shadow: 1px 1px 4px #698aab;
  background-color: #eaf4fc;
  margin-bottom: 40px;
  width: 310px;
  .room-create, .room-add-member, .room-destroy {
    display: block;
    padding: 10px;
  }
}

.room-create {
  text-decoration: none;
}

.main-right {
  width: 70%;
  height: calc(100vh - 100px);
  background-color: #ebf6f7;
  position: relative;
  overflow-y: scroll;
}

.main-right-title {
  position: absolute;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  font-size: 24px;
  width: 100%;
}

.room-list {
  position: absolute;
  list-style: none;
  top: 55px;
  left: 2vw;
  width: 700px;

  .rooms {
    margin-bottom: 40px;
  }
  
  .room-link {
    text-decoration: none;
  }

  .room-status{
    padding: 10px;
    border: 4px outset #698aab;
    // border-radius: 5px;
    box-shadow: 1px 1px 4px #698aab;
    background-color: #eaf4fc;
  }

  .room-name {
    font-size: 28px;
  }

  .room-latest {
    font-size: 18px;
    margin-left: 2vw;
    font-weight: lighter;
  }

}