.room-new {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #ebf6f7;
  height: calc(100vh - 90px);
  width: 100%;
}

.room-new-title {
  margin-top: 20px;
  font-size: 32px;
  font-weight: bolder;
}