// ログイン・サインアップ兼用

.registrations, .sessions {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #ebf6f7;
  height: calc(100vh - 90px);
  width: 100%;
  overflow-y: scroll;
}