.registrations {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #ebf6f7;
}

.title {
  margin-top: 20px;
  font-size: 32px;
  font-weight: bolder;
}

.information {
  font-size: 18px;
  margin: 10px;
}

.field {
  display: flex;
  flex-flow: column;
  margin-bottom: 15px;

  input[type="text"] {
    width: 600px;
  }

  input[type="email"] {
    width: 600px;
  }

  input[type="password"] {
    width: 600px;
  }

}

.links {
  margin-bottom: 40px;
}

.actions {
  display: flex;
  justify-content: center;
  margin: 30px;
  input[type="submit"] {
  }
}